<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.ajou.ajouinoclient" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />

    <application
        android:name="kr.ac.ajou.ajouinoclient.util.PreferenceManager"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kr.ac.ajou.ajouinoclient.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.ac.ajou.ajouinoclient.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="kr.ac.ajou.ajouinoclient.DeviceActivity"
            android:label="@string/title_activity_device" >
        </activity>
        <activity
            android:name="kr.ac.ajou.ajouinoclient.DeviceLookupActivity"
            android:label="@string/title_activity_device_lookup"
            android:parentActivityName="kr.ac.ajou.ajouinoclient.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.ac.ajou.ajouinoclient.MainActivity" />
        </activity>
    </application>

</manifest>
